# подключение к локальной или удалённой нейросети, а также используемая модель
OLLAMA_URL=http://localhost:11434 # ссылка-подключение
OLLAMA_MODEL=mistral # модель

REPORT_DIR=report # директория, в которую будут генерироваться отчёты